.project-title-banner6 {
    background-color: #000;
    color: white;
    font-family: 'NanumSquareRoundB';
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;

    .date {
      margin-top: 15px;
      font-family: 'NanumSquareRound';
      font-size: 14px;
    }
  }

  @import "./res-main";